
* {
    box-sizing: border-box;
}

body {
    background-color: rgb(77, 70, 70) ;
    padding-top: 70px;
    display: flex;
    justify-content: center;
}

.cointainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(78, 82, 105);
    width: auto;
    height: auto;
    padding: 25px;
    border: 2px solid black;
}

h1 {
    margin: 0px;
}

.form {
    display: flex;
    background-color: rgb(146, 128, 153);
    width: auto;
    border: 2px solid black;
}

.formInputs {
    display: flex;
    flex-direction: column;
    width: 305px;
    gap: 1rem;
    padding-top: 20px;
}

.boxname{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.boxUser{
    display: flex;
    flex-direction: row;
    gap: 1.4rem;
}

.boxEmail{
    display: flex;
    flex-direction: row;
    gap: 2.7rem;
}

.boxPassword{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    padding-bottom: 10px;
}

.boxPasswordConfirm{
    display: flex;
    flex-direction: row;
    padding-left: 85px;
    padding-bottom: 10px;
}

.nameInput {
    background-color: #d5cee8;
}

.usernameInput {
    background-color: #d5cee8;
}

.emailInput{
    background-color: #d5cee8;
}

.paswordInput{
    background-color: #d5cee8;
}

.paswordInputConfirm{
    background-color: #d5cee8;
}

/*.ckeckOk.valid{
    border-radius: 50%;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    background-color: rgb(42, 165, 104);
}*/

.paswordInput.valid{
    border: 2px solid green;
    background-color: #89be9e;
}

.paswordInput.error{
    border: 2px solid rgb(199, 89, 89);
    background-color: #b76f7b;
}

.paswordInputConfirm.correct{
    border: 2px solid green;
    background-color: #89be9e;
}

.paswordInputConfirm.not{
    border: 2px solid rgb(199, 89, 89);
    background-color: #b76f7b;
}

/*.ckeckOk.error{
    border-radius: 50%;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    background-color: rgb(165, 42, 46);
}*/

/*.ckeckOkPassword.correct{
    border-radius: 50%;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    background-color: rgb(42, 165, 104);
    margin-left: 23.5px;
}*/

/*.ckeckOkPassword.not{
    border-radius: 50%;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    margin-left: 23.5px;
    background-color: rgb(165, 42, 56);
}*/

.btn.knapp{
    display: flex;
    background-color: rgb(56, 87, 160);
    color: black;
    font-size: 1rem;
    border: 2px solid black;
}

.btn{
    display: none;
}

.fox{
    width: 10rem;
}